@font-face {
  font-family: 'Lexend Giga';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lexendgiga/v23/PlIuFl67Mah5Y8yMHE7lkUZPlTBo4MWFfNRC2Li07MAs.ttf) format('truetype');
}
@font-face {
  font-family: 'Lexend Giga';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lexendgiga/v23/PlIuFl67Mah5Y8yMHE7lkUZPlTBo4MWFfNRCP7-07MAs.ttf) format('truetype');
}
